html {
  font-size: 16px;
  font-family: Verdana;
}
body {
  margin: 0;
  padding: 1rem;
}
div.home-link {
  text-align: center;
}
a.dark-bg, a.dark-bg:visited {
  color: #fff;
}
a.dark-bg:active, a.dark-bg:hover {
  color: #444;
}
div.input-line {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
span.button-label {
  height: 40px;
  width: 6rem;
  display: inline-flex;
  align-items: center;
}
button {
  cursor: pointer;
  background-color: #e7e7e7;
  border: none;
  height: 40px;
  width: 100px;
}
button:disabled {
  cursor: default;
}
button:not(:disabled):hover {
  background-color: #555555;
  color: white;
}
select {
  border: none;
  background-color: #e7e7e7;
  height: 40px;
  width: 120px;
  padding-left: 0.5rem;
}
input {
  border: none;
  background-color: #e7e7e7;
  height: 25px;
  width: 100px;
  padding-left: 0.5rem;
}
