#container {
  display: flex;
  border: 2px solid var(--grey);
  border-radius: 4px;
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  padding: 0.5rem;
}
#container .item {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--blue);
}
