div.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.input-line {
  width: 30%;
}
span.button-label {
  width: 7rem;
}
#container {
  display: flex;
  border: 1px solid black;
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  padding: 0.5rem;
}
#container .item {
  width: 2rem;
  height: 2rem;
  border: 1px solid blue;
}
