h2 {
  color: #ffffff;
}
.project-container {
  display: block;
  height: 120px;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #ffffff;
}
.project-container:hover {
  border: 1px solid #888888;
}

@media (max-width: 800px) {
  .project-container {
    height: 140px;
  }
  .project-container h3 {
    margin: 0.5rem 0;
  }
}

@media (max-width: 700px) {
  .project-container {
    height: 200px;
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  .project-container {
    height: 220px;
  }
}