.holder {
  margin: 2rem;
  display: flex;
}
.holder div {
  margin: 0 1rem;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.holder div.digger {
  border: 2px solid var(--blue);
}
.holder div.saboteur {
  border: 2px solid var(--red);
}
.holder div.player {
  border: 2px solid var(--white);
}
