span.button-label {
  width: 6rem;
  display: inline-block;
}
button {
  margin-bottom: 1rem;
  display: inline-block;
}
.holder {
  margin: 2rem;
  display: flex;
}
.holder div {
  margin: 0 1rem;
  width: 2.25rem;
}
.digger {
  border: 1px solid blue;
}
.saboteur {
  border: 1px solid red;
}
.player {
  border: 1px solid black;
}
